@import "../../../styles";
.dashboard-item-details {

  & .item-stat-box {
    height: 100%;
    vertical-align: middle;
    padding: 5px;
    //overflow:hidden;
  }
  & .item-stat-box.fail {
    border: 3px solid $failure-color;
  }
  & .item-stat-box.success {
    border: 3px solid $success-color;
    box-shadow: 0 0 3px 1px black;
  }

}