<div class="row dashboard-item-details">
    <div class="col-md-9">
        <app-metrics-stats class="col-md-3 item-stat-box">
        </app-metrics-stats>

        <app-build-stats class="col-md-3 item-stat-box">
        </app-build-stats>

        <app-unit-test-stats class="col-md-3 item-stat-box">
        </app-unit-test-stats>

        <app-functional-test-stats class="col-md-3 item-stat-box">
        </app-functional-test-stats>
    </div>

    <app-build-result class="col-md-3 item-stat-box">
    </app-build-result>

    <div class="clearfix"></div>
</div>