<div class="title">
    <span class="col-title">Changelist / Build</span>
    <span class="col-title">Owner</span>
    <span class="col-title">Time Started</span>
    <span class="col-title">State</span>
    <span class="col-title">Metrics</span>
    <span class="col-title">Build</span>
    <span class="col-title">Unit Test</span>
    <span class="col-title">Functional Test</span>
</div>
<accordion [closeOthers]="true">
    <accordion-group *ngFor="let item of dashboardItems" [heading]="item.type" [ngClass]=""
                     [isOpen]="item.type === 'Build'">
        <!--[isDisabled]="status.isFirstDisabled"-->
        <dashboard-item-details [item]="item" class="container-fluid"></dashboard-item-details>
        <!--{{ group?.content }}-->
    </accordion-group>

</accordion>
